## Deliverable 3. Create a Travel Itinerary Map.

In [155]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [156]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
clean_hotel_df = vacation_df
clean_hotel_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,0,Rikitea,PF,71.65,-23.12,-134.97,Pension Maro'i
1,1,Busselton,AU,45.00,-33.65,115.33,Observatory Guest House
2,4,Mataura,NZ,43.68,-46.19,168.86,Ellie's Villa
3,5,Kodiak,US,57.20,57.79,-152.41,Best Western Kodiak Inn and Convention Center
4,6,Carnarvon,AU,62.60,-24.87,113.63,Hospitality Carnarvon

In [157]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [158]:
# 4a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [159]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Torbay")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Torbay")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Bay Roberts")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Marystown")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Burgeo")] 

vacation_start

    City_ID    City Country  Max Temp    Lat    Lng    Hotel Name
33       54  Torbay      CA     62.01  47.67 -52.73  Gallows Cove

In [160]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.to_numpy()
start = tuple(start[:, [4,5]][0])
end = vacation_end.to_numpy()
end = tuple(end[:,[4,5]][0])
stop1 = vacation_stop1.to_numpy()
stop1 = tuple(stop1[:,[4,5]][0])
stop2 = vacation_stop2.to_numpy()
stop2 = tuple(stop2[:,[4,5]][0]) 
stop3 = vacation_stop3.to_numpy()
stop3 = tuple(stop3[:,[4,5]][0])
start

(47.67, -52.73)

In [161]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
Torbay_Travel = gmaps.directions_layer(
        start, end, waypoints=[stop1,stop2,stop3],
        travel_mode='BICYCLING')
fig.add_layer(Torbay_Travel)
fig

Figure(layout=FigureLayout(height='420px'))

In [139]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_end,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,54,Torbay,CA,62.01,47.67,-52.73,Gallows Cove
1,54,Torbay,CA,62.01,47.67,-52.73,Gallows Cove
2,234,Bay Roberts,CA,64.00,47.60,-53.26,Stonewall Inn
3,218,Marystown,CA,63.00,47.17,-55.15,Marystown Hotel & Convention Centre
4,431,Burgeo,CA,60.71,47.62,-57.62,Gillett's Motel

In [142]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [151]:
# 11a. Add a marker layer for each city to the map.
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))